/* fonts */
@font-face {
    font-family: 'elkwood';
    src: url(../font/elkwood/Elkwood.otf);
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* resume styles */

.resume {
    color: #333;
    font-size: 4mm;
}

.resume .aboutMe .name {
    margin-bottom: 0mm;
}

.resume .summary {
    margin-bottom: 3mm;
    font-family: sans-serif;
}

.resume .sectionTitle {
    margin-bottom: 1mm;
    margin-top: 5mm;
    margin-left: -5mm;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.resume .date,
.resume .info,
.resume .aboutMe .email,
.resume .aboutMe .phone,
.resume .aboutMe .profiles {
    font-size: 90%;
}

.resume .summary {
    font-size: 80%;
}

.resume .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    margin-bottom: 0.75mm;
}

.resume .workExperience .position,
.resume .education .studyType,
.resume .projects .name,
.resume .competitions .event {
    font-weight: bold;
    font-size: 125%;
    font-family: 'Open Sans', sans-serif;
}

.resume .workExperience .company,
.resume .education .area,
.resume .projects .type,
.resume .competitions .sponsor {
    font-style: italic;
}
.resume .publications .title {
    font-weight: bold;
    font-size: 100%;
}
.resume .publication .publisher {
    font-style: italic;
}

.resume .date {
    font-family: 'Open Sans', sans-serif;
    /*margin-top: 2mm;*/
    font-size: 80%;
    float: right;
}

.resume .aboutMe {
    text-align: right;
}


/* icons */

.resume .aboutMe .email:before {
    font: normal normal normal 12px/1 FontAwesome;
    content: "\f003";
    margin-right: 1mm;
}

.resume .aboutMe .profiles .github:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f09b";
    margin-right: 0mm;
}

.resume .aboutMe .profiles .stackoverflow:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f16c";
    margin-right: 0mm;
}

.resume .aboutMe .profiles .linkedin:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0e1";
    margin-right: 0mm;
}

.resume .aboutMe .phone:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f095";
    margin-right: 1mm;
}


/* turn page into an A4 sheet of paper */

html {
    background: silver;
}

body {
    width: 21cm;
    height: 29.7cm;
    margin: 2mm auto;
    background: white;
    box-shadow: 0 0 5px black;
}

.page {
    padding: 10mm 20mm;
}


/* remove styling from semantic markup */

.resume ul,
.resume ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resume a {
    text-decoration: none;
    color: inherit;
}
